<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <form th:action="@{/appointments/submit/{teacherId}(teacherId=${teacherId})}" method="post" th:object="${appointment}">
        <label for="times" class="mb-1">Дата</label>
        <input type="date" id="date" th:field="*{date}" onchange="updateFreeTimes(this.value)"><br>
        <label for="times" class="mb-1">Свободни часове</label>
        <select id="times" th:field="*{time}" class="form-control">
        </select><br>
        <label for="times" class="mb-1">Предмет</label>
        <select id="subject" th:field="*{subject}" class="form-control">
            <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
        </select><br>

        <input type="submit" class="btn btn-primary mb-2 w-100" value="Регистрация"/>
    </form>
</main>
</body>
</html>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();

    if (dd < 10) {
       dd = '0' + dd;
    }

    if (mm < 10) {
       mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("date").setAttribute("min", today);

    function updateFreeTimes(date) {
        fetch(`/appointments/update-free-daily-times/${date}/[[${teacherId}]]`)
        .then(response => response.json())
        .then(times => {
            const timesDropdown = document.getElementById("times");
            timesDropdown.innerHTML = '<option value="">Избери</option>';
            times.forEach(time => {
                const option = document.createElement("option");
                option.value = time;
                option.textContent = time;
                timesDropdown.appendChild(option);
            });
        })
        .catch(error => console.error("Error fetching free times:", error));
    }
</script>