<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <div sec:authorize="hasAuthority('STUDENT')">
        <h1 th:text="|${user.firstName} ${user.lastName}|"></h1>
        <h3 th:text="${user.username}"></h3>
    </div>
    <div sec:authorize="hasAuthority('TEACHER')">
        <img th:src="'data:image/jpeg;base64,' + ${encoder.encodeToBase64(teacherProfile.profilePicture)}"/>
        <h1 th:text="|${teacherProfile.user.firstName} ${teacherProfile.user.lastName}|"></h1>
        <h1>Appointments</h1>
        <input type="date" id="date" onchange="updateAppointments(this.value)">
        <div id="appointments"></div>
    </div>
</main>
</body>
</html>
<script>
    function updateAppointments(date) {
        fetch(`/appointments/update-daily-appointments/${date}/[[${teacherProfile.id}]]`)
        .then(response => response.json())
        .then(appointments => {
            const appointmentsBlock = document.getElementById("appointments");
            while (appointmentsBlock.firstChild) {
                appointmentsBlock.removeChild(appointmentsBlock.lastChild);
            }
            appointments.forEach(appointment => {
                const p1 = document.createElement("p");
                p1.textContent = appointment.student.firstName + ' ' + appointment.student.lastName;
                const p2 = document.createElement("p");
                p2.textContent = appointment.date + ' ' + appointment.time;
                appointmentsBlock.appendChild(p1);
                appointmentsBlock.appendChild(p2);
            });
        })
        .catch(error => console.error("Error fetching free times:", error));
    }
</script>